body{
    font-family: 'Nunito', sans-serif;
    margin: 0px;
    background-color: #f0f8fc;
}
.menu{
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
    padding-bottom: 1%;
    
    
}
 .text{
    text-decoration: none;
    color: #E72EAF;
   
 }
 header{
    background-color: #333;
    width: 100%;
    position: fixed;
    top: 0px;
}

section{
    display: flex;
    align-items: center;
    
}
.intro{
    
    width: 50%;
    padding-left: 5%;
    margin-bottom: 2%;
}
.intro-pic{
    width: 100%;
}
.span{
    color: #E72EAF;
}
.top{
    font-size: 60px;
    color: #575757;
}
.paragraph{
    color: #828282;
    font-size: 18px;
}
.paragraph-1{
    color: #828282;
    font-size: 18px;
    text-align: justify;
}
button{
    padding: 15px 25px;
    border-style: none;
    font-weight: bold;
    background-color: #E72EAF;
    color: #333;
    border-radius: 10px;
    background-color: #E72EAF;
    background-image: linear-gradient(45deg, #e72e56, #E72EAF );
}
button:hover{
    background-color: white;
    color: rgb(255, 255, 255);
    transition: all .4s ease;
}
  
.intro-middle{
    width: 60%;
    padding-left: 55px;
}
.intro-1{
    width: 40%;
    padding-left: 5%;
}
.intro-2{
    width: 40%;
    margin-left: 70px;
    padding-left: 40px;
    text-align: justify;
}
h1{
    font-size: 40px;
    font-weight: bolder;
}
.middle-body{
    background-image:url(shapes/Frame\ 59.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 100px;
    
}
.recipie{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 7%;
    
}
.heading{
    align-items: center;
    text-align: center;
}
.recipie-detail{
    width: 27%;
    padding: 1%;
    text-align: center;
    border-radius: 20px;
    margin: 1%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    
}
    
.box .recipie .recipie-detail img {
    width: 100%;
}
.views{
    display: flex;
    align-items: center;
    text-align: center;
    margin:7%;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2% 25%;
    border-radius: 20px;
}
.views div{
    align-items: center;
   margin-left: 40%;
   margin-right: 20%;
}